@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";


:root {
    font-size: 16px;
}
a {
    text-decoration: none;
    &:hover {
        color: $black;
        text-decoration: none;
    }
}

body {
    font-family: 'Roboto', sans-serif;
    color: $black;
    overflow-x: hidden;
}

.wrapper {
    max-width: 1430px;
    margin: 0 auto;
    @media (max-width: 1330px) {
        max-width: 1140px;
    }
    @media (max-width: 1200px) {
        max-width: 960px;
    }
    @media (max-width: 960px) {
        max-width: 720px;
    }
    @media (max-width: 720px) {
        max-width: 540px;
    }
    @media (max-width: 540px) {
        max-width: 320px;
    }
    @media (max-width: 320px) {
        max-width: 240px;
    }
}
.title {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 37px;
    padding: 0;
    @media (max-width: 960px) {
        font-size: 1.75rem;
        margin-bottom: 25px;
    }
    @media (max-width: 540px) {
        font-size: 1.25rem;
    }
}
.text {
    text-align: center;
    line-height: 22px;
    padding: 0;
    @media (max-width: 960px) {
        font-size: 0.9rem;
    }
    @media (max-width: 540px) {
        font-size: 0.75rem;
    }
    &-apartment {
        margin-bottom: 59px;
        margin-top: -2px;
        @media (max-width: 1100px) {
            margin-bottom: 20px;
        }
    }
    &-plan {
        margin-top: -7px;
    }
    &-company {
        line-height: 24px;
        margin-top: -8px;
    }
    &-news {
        margin-top: -12px;
    }
}
.section-main {
    background-image: url(../img/bg-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 39px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 174px;
    @media (max-width: 540px) {
        margin-top: 140px;
    }
    &__title {
        font-size: 3.75rem;
        color: $whiteH1;
        padding-bottom: 31px;
        text-align: center;
        @media (max-width: 960px) {
            font-size: 2.3rem;
        }
        @media (max-width: 540px) {
            font-size: 1.5rem;
        }
        @media (max-width: 540px) {
            font-size: 1.25rem;
        }
    }
    &__text {
        font-weight: 500;
        line-height: 1.5;
        color: $white;
        max-width: 35rem;
        text-align: center;
        padding-bottom: 44px;
        @media (max-width: 960px) {
            font-size: 0.9rem;
            margin: 0 10px;
        }
        @media (max-width: 540px) {
            font-size: 0.75rem;
        }
    }
}
.btn {
    color: $black;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.125rem;
    letter-spacing: 3px;
    background-color: $whiteH1;
    border: 1px solid $whiteH1;
    padding: 1.44rem 3.4rem;
    outline: none;
    border-radius: 0;
    transition: 0.3s ease;
    &:hover {
        color: $violet;
    }
    &-black {
        padding: 1rem 3.1rem;
        color: $whiteH1;
        background-color: $black;
        border: 1px solid $black;
        &:hover {
            color: $whiteH1;
            background-color: $violet;
            border: 1px solid $violet;
        }
    }
    &-filtr {
        color: $black;
        background-color: transparent;
        border: 1px solid $black;
        position: relative;
        margin: 0px;
        padding: 0 28px 0 0;
        width: 319px;
        height: 60px;
        &::after {
            content: "";
            display: block;
            position: absolute;
            width: 8px;
            height: 15px;
            top: 23px;
            left: 204px;
            background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAMCAYAAACulacQAAAAqklEQVQYlV3QsUqCcRSG8Z/WoIsgQml0CQriVehFOOSQS0RrQhcgOjsJzg1uTiIubt6AOIe0NrYlB74v/vqsz+Gc97yFdquzxRIz/Em4qd83vvGGB+zSgVus8YMpqnjHb8hiNrTHEM1sfSWVwQED1DDHXSqDLzyhjMW1DLpoYBWBcgp4QR8TfOYyNnyghxE2+SsljNHGa5b8/8+I/ohnHNPjIaOVKOJ0EQtnaqAcL+nLxPcAAAAASUVORK5CYII=");
            background-repeat: no-repeat;
            transform: rotate(90deg);
            cursor: pointer;
        } 
        &:focus {
            outline: none;
            &::after {
                transform: rotate(-90deg);
                top: 21px;
                left: 207px;
            }     
        }  
    }
    &-type {
        border-right-width: 0px;
    }
    &-loat {
        border: none;
        background-color: transparent;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding: 79px 23px 0 0;
        position: relative;
        opacity: 0.8;
        cursor: pointer;
        transition: 0.3s ease;
        @media (max-width: 1200px) {
            padding-top: 40px;
            &::after {
                top: calc(50% - -14px);
            }
        }
        &:hover {
            opacity: 1;
            &::after {
                background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAMCAYAAACulacQAAAAo0lEQVQYlV3QL4pCYRSG8Z9/kjZBMAxYrIJYRDFonBWozAosJk0uwAVYDDPBKILJpibBJm5gtjBGq8MH98LHfdrhOQfe9+RazfYTGyzxFpHHFHP8oBDLInb4wwFVjPCSXAbOGKKDEyqxDNzRQw1XfMQy8JsslHHLysAEdWxDoJQcVlhghnUqQ4VvfGGMfVqllAx9fOIS9wzRGxjgkf3QEd2sgH/pcBlvUpoltwAAAABJRU5ErkJggg==");
            }
        }
        &:focus {
            outline: none;
        }
        &::after {
            content: "";
            display: block;
            position: absolute;
            width: 8px;
            height: 15px;
            right: 0;
            top: calc(50% - -33px);
            background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAMCAYAAACulacQAAAAqklEQVQYlV3QsUqCcRSG8Z/WoIsgQml0CQriVehFOOSQS0RrQhcgOjsJzg1uTiIubt6AOIe0NrYlB74v/vqsz+Gc97yFdquzxRIz/Em4qd83vvGGB+zSgVus8YMpqnjHb8hiNrTHEM1sfSWVwQED1DDHXSqDLzyhjMW1DLpoYBWBcgp4QR8TfOYyNnyghxE2+SsljNHGa5b8/8+I/ohnHNPjIaOVKOJ0EQtnaqAcL+nLxPcAAAAASUVORK5CYII=");
            background-repeat: no-repeat;
        }
    }
    &-footer {
        padding: 16px 44px;
        @media (max-width: 960px) {
            margin: 0px 150px;
        }
    }
    @media (max-width: 960px) {
        font-size: 0.9rem;
        padding: 1.3rem 3.2rem;
    }
}
.slider-main {
    &__item {
        outline: none;
    }
    .slick-dots {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 166px;
        cursor: pointer;
        @media (max-width: 540px) {
            margin-top: 140px;

        }
        
    }
    .slick-dots li {
        list-style-type: none;
        margin: 0 6px;
        
        &.slick-active button {
            background-color: $whiteH1;
        }
    }
    .slick-dots button {
        width: 10px;
        height: 10px;
        font-size: 0;
        background-color: rgba($whiteH1, 0.4);
        outline: none;
        transition: 0.3s ease;
        padding: 0;
        border: none;
    }
}

.section-filtr {
    margin: 10px 0 129px -29px;
    @media (max-width: 1360px) {
        margin-bottom: 90px;
    }
    @media (max-width: 540px) {
        margin-bottom: 60px;
    }
}
.dropdown-menu {
    width: 320px;
    text-align: center;
}
.my-dropdown-toggle::after {
    content: none;
}
.filtr {
    display: grid;
    justify-items: center;
    align-items: center;
    &-item {
        display: flex;
        margin: 30px 0 0 34px;
    }
    &-1 {
        position: relative;
        @media (max-width: 660px) {
            flex-direction: column;
        }
    }
    &-2-3 {
        display: flex;
        justify-content: space-between;
        margin-top: -32px;
        @media (max-width: 1050px) {
            flex-direction: column;
        }
    }
    &-4 {
        margin-top: 33px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &-5 {
        align-items: center;
        margin-top: 60px;
        margin-left: 0;
        @media (max-width: 540px) {
            flex-direction: column;
        }
    }
    &-all {
        height: 59px;
        border: 1px solid $black;
        text-align: center;
        padding: 17px;
    }
    &__text {
        &-1 {
        color: $black;
        text-decoration: none;
        position: relative;
        margin: 20px;
        padding: 0 28px 0 0;
        }
        &-3 {
            padding: 0 0 0 91px;
            position: relative;
            @media (max-width: 320px) {
                &::before {
                    right: 53px;
                }
            }
            &::before {
                content: "";
                display: block;
                position: absolute;
                width: 85px;
                height: 8px;
                top: 6px;
                right: 77px;
                border-bottom: 1px solid rgba($black, 0.3);
            }
        }
        &-4 {
            position: relative;
            padding: 14px 48px 0 82px;
            transition: 0.3s ease;
            cursor: pointer;
            @media (max-width: 540px) {
                padding: 14px 80px 0 82px;
            }
            &:hover {
                color: $violet;
                &::after {
                    background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAaElEQVQYlYXPzQ2AMAgF4Cdxps7EAKYDePDkAD05UKcyJGAokPiO8IWf7ezXA2AAmKjTADApOrQQ07Q3SCfdBTYkvUlajHhBAnY3wWPJhyQ28Tce+nXpZoPxpvSgwHR49aBALtCKAX4BrkEfvgLjYGkAAAAASUVORK5CYII=");
                }
            }
            &::after {
                content: "";
                display: block;
                position: absolute;
                width: 10px;
                height: 10px;
                top: 21px;
                left: 233px;
                background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAg0lEQVQYlWM00DWax8DAMIOBgeEUA3ZgxsDAkMEEVVQCFUAHZlC5GcwS4pJPGRgYHkIFQPRTqGKYoh6QbSCFDFBJZMXSyIpACliQrAIJgCRACkAArggEQG4kCiArRHYTzGS4B2FuRHE4Fjc/BSlEVwQDKIpBCpsZGBgm4QhwiGIGhgwAi/Im6H+tupwAAAAASUVORK5CYII=");
                background-repeat: no-repeat;
                transform: rotate(90deg);
                
            }
        }
    }
    &-district {
        width: 318px;
        &::after {
            content: "";
            display: block;
            position: absolute;
            width: 8px;
            height: 15px;
            top: 23px;
            right: 129px;
            background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAMCAYAAACulacQAAAAqklEQVQYlV3QsUqCcRSG8Z/WoIsgQml0CQriVehFOOSQS0RrQhcgOjsJzg1uTiIubt6AOIe0NrYlB74v/vqsz+Gc97yFdquzxRIz/Em4qd83vvGGB+zSgVus8YMpqnjHb8hiNrTHEM1sfSWVwQED1DDHXSqDLzyhjMW1DLpoYBWBcgp4QR8TfOYyNnyghxE2+SsljNHGa5b8/8+I/ohnHNPjIaOVKOJ0EQtnaqAcL+nLxPcAAAAASUVORK5CYII=");
            background-repeat: no-repeat;
            transform: rotate(90deg);
            cursor: pointer;
        }
        @media (max-width: 660px) {
            width: 486px;
            &::after {
                top: 97px;
                right: 220px;
            }
        }
        @media (max-width: 540px) {
            width: 366px;
            &::after {
                right: 150px;
            }
        }
        @media (max-width: 320px) {
            width: 300px;
            &::after {
                right: 120px;
            }
        }
    }
    &-type {
        width: 319px;
        border-right-width: 0px;
        @media (max-width: 660px) {
            flex-direction: column;
            border-right-width: 1px;
            margin-bottom: 15px;
            width: 486px;
            &::after {
                left: 290px;
            }
        }
        @media (max-width: 540px) {
            width: 366px;
            &::after {
                left: 230px;
            }
        }
        @media (max-width: 320px) {
            width: 300px;
            &::after {
                left: 200px;
            }
        }
        /*&__menu {
            position: absolute;
            width: 300px;
            background-color: $whiteH1;
            top: 40px;
            left: 10px;
        }
        &__list {
            list-style: none;
        }
        &__link {
            color: $black;
            &:hover {
                color: $violet;
            }
        }*/
        &::after {
            content: "";
            display: block;
            position: absolute;
            width: 8px;
            height: 15px;
            top: 23px;
            left: 204px;
            background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAMCAYAAACulacQAAAAqklEQVQYlV3QsUqCcRSG8Z/WoIsgQml0CQriVehFOOSQS0RrQhcgOjsJzg1uTiIubt6AOIe0NrYlB74v/vqsz+Gc97yFdquzxRIz/Em4qd83vvGGB+zSgVus8YMpqnjHb8hiNrTHEM1sfSWVwQED1DDHXSqDLzyhjMW1DLpoYBWBcgp4QR8TfOYyNnyghxE2+SsljNHGa5b8/8+I/ohnHNPjIaOVKOJ0EQtnaqAcL+nLxPcAAAAASUVORK5CYII=");
            background-repeat: no-repeat;
            transform: rotate(90deg);
            cursor: pointer;
        }
    }
    &-area {
        width: 236px;
        border-right-width: 0px;
        @media (max-width: 540px) {
            width: 120px;
        }
        &__size {
            width: 360px;
            margin-top: 33px;
            position: relative;
            margin-left: 30px;
            @media (max-width: 320px) {
                width: 280px;
            }
        }
    }
    &-price {
        width: 236px;
        border-right-width: 0px;
        @media (max-width: 540px) {
            width: 120px;
        }
        &__value {
            width: 360px;
            margin-top: 33px;
            margin-left: 30px;
            @media (max-width: 320px) {
                width: 280px;
            }
        }
    }
    &__unit {
        width: 245px;
        @media (max-width: 320px) {
            width: 180px;
        }
    }
    &-value {
        width: 387px;
        position: absolute;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        margin: 5px -8px;
        padding: 0;
    }
}
/*polzunok*/
.ui-slider.ui-slider-horizontal {
    background: rgba(#302d32, 0.6);
    height:1px;
    border:none;
}
.ui-slider .ui-slider-handle {
    width: 5px;
    height: 5px;
    border: 1px solid #302d32;
    border-radius: 0;
    outline: none;
    background-color: #302d32;
    top: -2px;
    margin-left: -3px;
}
.ui-slider .ui-slider-range {
    background: #302d32;
    height: 1px;
}