@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";


:root {
    font-size: 16px;
}
a {
    text-decoration: none;
    &:hover {
        color: $black;
        text-decoration: none;
    }
}

body {
    font-family: 'Roboto', sans-serif;
    color: $black;
    overflow-x: hidden;
}

.wrapper {
    max-width: 1430px;
    margin: 0 auto;
    @media (max-width: 1330px) {
        max-width: 1140px;
    }
    @media (max-width: 1200px) {
        max-width: 960px;
    }
    @media (max-width: 960px) {
        max-width: 720px;
    }
    @media (max-width: 720px) {
        max-width: 540px;
    }
    @media (max-width: 540px) {
        max-width: 320px;
    }
    @media (max-width: 320px) {
        max-width: 240px;
    }
}