@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";


:root {
    font-size: 16px;
}
a {
    text-decoration: none;
    &:hover {
        color: $black;
        text-decoration: none;
    }
}

body {
    font-family: 'Roboto', sans-serif;
    color: $black;
    overflow-x: hidden;
}